:root {
  --arrow-outline: rgba(60, 60, 60, 0.6);
  --arrow-button-fg: rgba(27, 202, 205, 0.8);
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  transition: height 25ms;
  will-change: transform;
  user-select: none;
}
.embla__container.is-draggable {
  cursor: move;
  cursor: grab;
}
.embla__container.is-dragging {
  cursor: grabbing;
}
.embla__viewport {
  position: relative;
  overflow: hidden;
  max-width: var(--max-media-item-width);
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.embla__slide > .media__boundary > video,
.embla__slide > img {
  max-height: var(--max-media-item-height);
  width: 100% !important;
  height: auto !important;
  object-fit: cover;
}

.embla__button {
  position: absolute;
  height: 100%;
  width: 2rem;
  background-color: transparent;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0 auto;
  transition: 0.2s;
  opacity: 0.4;
  z-index: 1;
}
.embla__button:not(:disabled):hover {
  filter: drop-shadow(1px 2px 1px var(--arrow-outline)) drop-shadow(-1px 1px 1px var(--arrow-outline))
    drop-shadow(2px -1px 1px var(--arrow-outline)) drop-shadow(-1px -1px 1px var(--arrow-outline));
  opacity: 1;
}
.embla__button:disabled .embla__button__svg {
  cursor: default;
  opacity: 0.2;
}
.embla__button--prev {
  left: -2px;
}
.embla__button--next {
  right: -2px;
}
.embla__button__svg {
  height: 24px !important;
  width: 24px !important;
  color: var(--arrow-button-fg);
}
