.wxt
.idea*
node_modules
dist
dist-firefox
artifacts
results

# make sure to use --id option when signing!
.web-extension-id
dist.crx
dist.pem
tsconfig.tsbuildinfo
.DS_Store
.envrc
.env
.direnv
_shack_li_.json
