.idea*
node_modules
coverage-ts
dist
dist-chrome
dist-firefox
artifacts
# make sure to use --id option when signing!
.web-extension-id
Session.vim
dist.crx
dist.pem
tsconfig.tsbuildinfo
mochawesome-report
/cypress/screenshots/
/cypress/fixtures/_shack_li_.txt
debug.log
.DS_Store
.envrc
.env
.direnv
/test-results/
/playwright-report/
/playwright/.cache/
_shack_li_.json
