/* lol buttons */
div.lol { display:inline; float: none; padding-left: 10px; font-size: 14px !important; }
a.lol_button { padding: 0 0.25em !important; text-decoration: underline !important; }

/* comment tags */
#shack_comment_tags { float:left; padding:5px; }
#shack_comment_tags p { margin: 0.5em 0px 7px 0px; }
#shack_comment_tags table a { cursor: pointer; }
div.newcommentform { position: relative !important; width: inherit !important; min-width: 580px; }
#postform { float: left; }

/* post preview */
#previewArea {
    display:none;
    border:1px solid #AEAE9B;
    padding:3px;
    background:#222;
    height:230px;
    width:570px;
    overflow:auto;
}
