div.pin { display:inline; float: none; padding-left: 10px; font-size: 14px !important; }
a.pin_button { color: #16ff60; padding: 0 0.25em !important; text-decoration: underline !important; font-weight: normal !important}

/* lol buttons */
div.lol { display:inline; float: none; padding-left: 10px; font-size: 14px !important; }
a.lol_button { padding: 0 0.25em !important; text-decoration: underline !important; font-weight: normal !important}
#lollink {
    display: block;
    width: 190px;
    height: 45px;
    position: absolute;
    left: 180px;
    top: 12px;
    text-indent: -9999px;
    color: #f00;
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/lol.png);
}

.oneline_tags { display: inline; overflow: hidden; white-space: nowrap; }
.oneline_tags span { margin: 0 2px 0 2px; padding: 0 2px; -webkit-border-radius: 3px; background-color: #f8f; color: #000; font-size: 10px; font-weight: bold; }

img.imageloader { max-width: 600px; max-height: 600px; }

/* post preview */
#previewArea {
    display:none;
    border:1px solid #AEAE9B;
    padding:3px;
    background:#222;
    height:200px;
    width:570px;
    overflow:auto;
}

/* Dino Gegtik */
div.dinogegtik a { color: #e00 !important; }
div.dinogegtik {
    display: block;
    width: 735px;
    height: 487px;
    margin: 10px 0;
    font-family: Lucida Console, Courier New;
    font-size: 13px;
    text-align: center;
    line-height: 1em;
    background-color: #333;
    color: #000;
    position: relative;
}

div.dinogegtik div.panel {
    position: absolute;
    display: block;
    overflow: hidden;
    line-height: 1em;
}

/* sparkly comic */
div.sparklycomic {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1em;
    color: #fff;
    float: left;
}

div.sparklycomic div.panel
{
    float: left;
    display: block;
    width: 240px;
    height: 351px;
    margin: 2px;
    vertical-align: bottom;
    overflow: hidden;
    line-height: 1em;
    position: relative;
}

div.sparklycomic div.panel a { color: #e00 !important; }
div.sparklycomic div.panel span {
    position: absolute;
    color: #fff;
    left: 0;
    right: 2px;
    bottom: 2px;
}

div.sparklycomic div.panel span.shadow {
    color: #000;
    left: 2px;
    right: 0;
    bottom: 0;
}

div.sparklycomic div.panel span.shadow .jt_spoiler,
div.sparklycomic div.panel span.shadow a { visibility: hidden }

body.show_banner_offtopic div.fpmod_offtopic {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/banners/offtopic.png);
    background-position: right top;
    background-repeat: no-repeat;
    border-top: 1px solid #7D7D7D !important;
}

body.show_banner_political div.fpmod_political {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/banners/political.png);
    background-position: right top;
    background-repeat: no-repeat;
    border-top: 1px solid #F8A500 !important;
}

body.show_banner_stupid div.fpmod_stupid {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/banners/stupid.png);
    background-position: right top;
    background-repeat: no-repeat;
    border-top: 1px solid #379700 !important;
}


body.shack_sfw * { line-height: normal !important; background-color: inherit !important; } 
body.shack_sfw a { color: #00f !important; } 
body.shack_sfw body, body.shack_sfw div, body.shack_sfw p, body.shack_sfw input, body.shack_sfw textarea { color: #000 !important; background-color: #fff !important; } 
body.shack_sfw input { border: 1px solid #000 !important; } 
body.shack_sfw div.oneline0 span.oneline_body { color: #000 !important; } 
body.shack_sfw div.oneline1 span.oneline_body { color: #111 !important; } 
body.shack_sfw div.oneline2 span.oneline_body { color: #222 !important; } 
body.shack_sfw div.oneline3 span.oneline_body { color: #333 !important; } 
body.shack_sfw div.oneline4 span.oneline_body { color: #444 !important; } 
body.shack_sfw div.oneline5 span.oneline_body { color: #555 !important; } 
body.shack_sfw div.oneline6 span.oneline_body { color: #666 !important; } 
body.shack_sfw div.oneline7 span.oneline_body { color: #777 !important; } 
body.shack_sfw div.oneline8 span.oneline_body { color: #888 !important; } 
body.shack_sfw div.oneline9 span.oneline_body { color: #999 !important; } 
body.shack_sfw div.threads ul ul li { background-image: url(data:image/gif;base64,R0lGODlhDAAyALMAAAAAACgoKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAMADIAAAQ8MIBJK5DW4kw3v18XTh5XZkGqruoIjqfmxhUtwnOO76FN6j3gx%2FcK8oZCUxK1lB2VT2bUaawip7VmdhQBADs%3D) !important; } 
body.shack_sfw div.threads ul ul li.last{ background-image: url(data:image/gif;base64,R0lGODlhDAAJAIAAACgoKAAAACH5BAEAAAEALAAAAAAMAAkAAAIRRI4ZpsqNHlwz1iNhbqD73xUAOw%3D%3D) !important } 
body.shack_sfw .postnumber a:link, body.shack_sfw .postnumber a:visited, body.shack_sfw .postnumber a:active, body.shack_sfw .postnumber a:hover { background-image: url(data:image/gif;base64,R0lGODlhZAAUALMAAAAAAP8A%2F8DAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAEALAAAAABkABQAAARlMMhJq7046827%2F2AojmRpnmiqrqngvi%2FbAXRdy5yA6XgGYL%2FeLgDj8YSWny0YRFaOT2cSKI0WJdCq0iZpVrGXrPbi%2FRJdWPH3FqCZh%2Bp3ey4Px%2BXuun7P7%2Fv%2FgIGCg4SFhociEQAAOw%3D%3D) !important; } 
body.shack_sfw .refresh a:link, body.shack_sfw .refresh a:visited, body.shack_sfw .refresh a:active, body.shack_sfw .refresh a:hover{ background-image: url(data:image/gif;base64,R0lGODlhZAAUALMAAAAAAP8A%2F8DAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAEALAAAAABkABQAAARWMMhJq7046827%2F2AojmRpnmiqrqvgsiMgw6Ew2bQHTHvO4TffpscTaoASpLFClDSXFKBrCmXyZLNq9PbSUohYb0UqtjrL6LR6zW673%2FC4fE6v2%2B%2F4dwQAOw%3D%3D) !important; } 
body.shack_sfw div.treecollapse { background-color: transparent !important; } 
body.shack_sfw div.treecollapse a:link, body.shack_sfw div.treecollapse a:visited, body.shack_sfw div.treecollapse a:active, body.shack_sfw div.treecollapse a:hover{ background-image: url(data:image/gif;base64,R0lGODlhHgA8ALMAAP%2F%2F%2F4CAgAAAAP%2F%2F%2FwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8A%2FyH5BAEAAA8ALAAAAAAeADwAAASA8MlJq7046827%2F2AojmRpnmiqrmzrvnAsV0Ft29utP8HVaz8az5cjBilHoqXHvA2BD4FUOkxKrMLlM5vBMpVdow4HHNdm6LR6zW67T%2BZz2bxFFrXB%2FD06%2BV77ewKATThYdlNUfluGgBKCf3p%2FUI6DYBhePHE5mm%2Bdnp%2BgoaIYEQAAOw%3D%3D) !important; } 
body.shack_sfw /* front page fixes */ 
body.shack_sfw div#topad { border-bottom: none; } 
body.shack_sfw div#header, body.shack_sfw div#masthead { background-image: none !important; } 
body.shack_sfw div#masthead h1 a { background-image: none !important; text-indent: 0 !important; font-size: 200% !important; } 
body.shack_sfw div#features { display: none !important; } 
body.shack_sfw div.topstories h3, body.shack_sfw div.topstories h4 { text-indent: 0 !important; font-size: 150% !important; } 
body.shack_sfw div#features div.community h2 { text-indent: 0 !important; font-size: 150% !important; } 
body.shack_sfw h2 { color: #000 !important; background-image: none !important; text-indent: 0 !important; font-size: 120% !important; line-height: 25px !important; } 
body.shack_sfw div.line { background-image: none !important; } 
body.shack_sfw div.headerbar * { background-image: none !important; text-indent: 0 !important; } 
body.shack_sfw h2.latestheadlinesheader { text-indent: 0 !important; font-size: 125% !important; } 
body.shack_sfw div#section3 h3 a { background-image: none !important; font-size: 120% !important; text-indent: 0 !important; } 
body.shack_sfw div#section3 a { color: #00f !important; } 
body.shack_sfw div#section3 div.feed { background-image: none !important; } 
body.shack_sfw span.hotfiles a { text-indent: 0; background-image: none !important; } 
body.shack_sfw span.jt_spoiler { color: #dddddd !important; background-color: #dddddd !important; } 
body.shack_sfw div.postmeta { background-color: transparent !important; } 
body.shack_sfw td.date {color: #000 !important; } 
body.shack_sfw tr.odd {background-color: #eee !important; } 
body.shack_sfw div.interiorcontent th, body.shack_sfw div.interiorform label { color: #000 !important; } 

/* new comment marker */
span.newcommenthighlighter {
    /*border-bottom-color: #0099ff;
    border-bottom-width: thin;
    border-bottom-style: dotted;*/
    border-left-color: #0099ff;
    border-left-width: thin;
    border-left-style: solid;
    padding-left: 2px;
}

.expiration-watcher-bar .fullpost .postdate { right: 55px !important; }
.expiration-watcher-doom .fullpost .postdate { right: 35px !important; }
.expiration-watcher-bar .capcontainer .fullpost .postdate, 
.expiration-watcher-doom .capcontainer .fullpost .postdate { right: 0px !important; }

.countdown-wrap {
    height: 8px;
    width: 48px;
    position: absolute;
    bottom: 6px;
    right: 5px;
    background-color: #ddd;
    -webkit-border-radius: 4px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(0.4, #ccc), color-stop(0.6, #ccc), color-stop(1, #eee)); 
}

.expired-wrap {
    height: 8px;
    width: 48px;
    position: absolute;
    bottom: 6px;
    right: 5px;
    background-color: #ddd;
    -webkit-border-radius: 4px;
}

.countdown-value {
    height: 100%;
    width: 0;
    -webkit-border-radius: 4px;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .4)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .4)), color-stop(.75, rgba(255, 255, 255, .4)), color-stop(.75, transparent), to(transparent));
    -webkit-background-size: 25px 25px;
    -webkit-box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.4);
}

.expired-value {
    height: 100%;
    width: 0;
    -webkit-border-radius: 4px;
    -webkit-background-size: 25px 25px;
    -webkit-box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.4);
}

.countdown-doom {
	height: 30px; 
	width: 30px; 
	position: absolute; 
	bottom: 6px; 
	right: 5px; 
	background-image: url(chrome-extension://__MSG_@@extension_id__/images/doom_health.png);
}


/* get post */
div.getPost {
    padding: 3px 0 25px 0;
    margin-bottom: 3px;
    border: 1px #94FFB9 solid;
    height: 1%;
    position: relative;
}

div.getPost div.refresh, div.getPost div.reply, div.getPost div.postmeta a.closepost {display: none;}

div.getPost span.user a {text-decoration: none;}

/* elder scroll */
#elderscroll-message {
    -webkit-border-radius: 5px;
    color: #000 !important;
    background: #FFF !important;
    font-size: 1.5em !important;
    height: 25px;
    width: 300px;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 5px !important;
}


#shackLogo {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    display: inline-block !important;
    background-image: url(chrome-extension://__MSG_@@extension_id__/shack.png);
    -webkit-animation-name: elderscroll-rotate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes elderscroll-rotate {
    0% { -webkit-transform: rotate(-20deg); }
    50% { -webkit-transform: rotate(20deg); }
    100% { -webkit-transform: rotate(-20deg); }
}

/* fix for shack legends being cut off */

p.rules {
    margin: 3px;
}

/* make it easier to see what button is highlighted, give them some space */
button {
    margin-right: 2px !important;
    margin-left: 2px !important;
    color: #555555 !important;
}
button:focus {
    color: #000000 !important;
}

/* image upload stuff */

.showImageUploadLink {
    background: black;
    margin-top: 20px;
    padding: 8px;
    display: inline-block;
}

#imageUploadButton, #cancelUploadButton, #fileUploadButton, #urlUploadButton  {
    background-color: #e9e9de;
    border-width: 2px;
    border-color: #fff #e9e9de #e9e9de #fff;
    color: #000;
    font-weight: bold;
    width: 125px;
    height: 22px;
    font-size: 12px;
    margin-left: 5px;
}

#fileUploadInput, #urlUploadInput {
    border: solid 1px #444;
    width: 100px;
}

#fileUploadInput {
    width: 200px;
    background-color: transparent;
    border: 0px;
    margin-right: 5px;
}


#filedroparea {
    border-style: dashed;
    border-color: #666666;
    border-width: 2px;
    height: 20px;
    width: 150px;
    text-align: center;
    margin-right: 10px;
}

.dragOver {
    background-color: #555555;
}

#uploadCell1, #uploadCell2, #uploadCell3 {
    vertical-align: middle;
}

#fileUploadInput, .uploadLabel {
    color: silver;
}

#uploadChatty, #uploadImgur {
    width: 10px;
}

label.imageUploadLabel {
    text-transform: none !important;
    color: silver !important;
    display: inline !important;
    margin-bottom: 10px !important;
    padding-right: 10px;
}

div.pinnedPosts {
    border: 1px #3f5190 solid;
    margin-top: 20px;
    /*-webkit-border-radius: 10px;*/
    padding-right: 6px;
}

div.pinnedLoading {
    padding-left: 10px;
    padding-top: 20px;
    margin-top: 20px;
    display: table-cell;
    vertical-align: middle;
}

span.pinnedLoading
{
    vertical-align: middle;
}

img.pinnedLoading
{
    vertical-align: middle;
    margin-left: 5px;
}

video.imageloader { width: auto !important }
