/* lol buttons */
div.lol { display:inline; float: none; padding-left: 10px; font-size: 14px !important; }
a.lol_button { padding: 0 0.25em !important; text-decoration: underline !important; font-weight: normal !important}
#lollink {
    display: block;
    width: 190px;
    height: 45px;
    position: absolute;
    left: auto;
    right: 0;
    top: 12px;
    text-indent: -9999px;
    color: #f00;
}

/* comment tags */
#shack_comment_tags { float:left; padding:5px; }
#shack_comment_tags p { margin: 0.5em 0px 7px 0px; }
#shack_comment_tags .jt_italics  { font-style: italic; }
div.newcommentform { position: relative !important; width: inherit !important; min-width: 580px; }
#postform { float: left; }

/* post preview */
#previewArea {
    display:none;
    border:1px solid #AEAE9B;
    padding:3px;
    background:#222;
    height:230px;
    width:570px;
    overflow:auto;
}

/* Dino Gegtik */
div.dinogegtik a { color: #e00 !important; }
div.dinogegtik {
    display: block;
    width: 735px;
    height: 487px;
    margin: 10px 0;
    font-family: Lucida Console, Courier New;
    font-size: 13px;
    text-align: center;
    line-height: 1em;
    background-color: #333;
    color: #000;
    position: relative;
}

div.dinogegtik div.panel {
    position: absolute;
    display: block;
    overflow: hidden;
    line-height: 1em;
}

/* sparkly comic */
div.sparklycomic {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1em;
    color: #fff;
    float: left;
}

div.sparklycomic div.panel
{
    float: left;
    display: block;
    width: 240px;
    height: 351px;
    margin: 2px;
    vertical-align: bottom;
    overflow: hidden;
    line-height: 1em;
    position: relative;
}

div.sparklycomic div.panel a { color: #e00 !important; }
div.sparklycomic div.panel span {
    position: absolute;
    color: #fff;
    left: 0;
    right: 2px;
    bottom: 2px;
}

div.sparklycomic div.panel span.shadow {
    color: #000;
    left: 2px;
    right: 0;
    bottom: 0;
}

div.sparklycomic div.panel span.shadow .jt_spoiler,
div.sparklycomic div.panel span.shadow a { visibility: hidden }
