h2 {
    width: 100%;
    margin-bottom: 0;
    background-color: #F0F7F9;
    font-size: 12pt;
    border-top: 1px solid #6B90DA;
}
body {
    font-size: 12pt;
    min-width: 250px;
    font-family: sans-serif;
    font-size: 10pt;
}
a.remove { font-size: 10px; }
input.name { width: 50px; }
input.color { width: 50px; }
textarea { width: 250; }

div#highlight_groups input.built_in { background-color: #d3d3d3; }
