body {
    font-size: 14px;
    min-width: 500px;
    max-width: 600px;
    height: 325px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
h2 {
    width: 100%;
    background-color: #F0F7F9; font-size: 14pt;
    border-top: 1px solid #6B90DA;
}
a.remove { font-size: 12px; }
input.name { width: 50px; }
input.color { width: 50px; }
textarea { width: 250; }

select#filtered_users { width: 239px; }
input#new_user_filter_text { width: 235px; }
input.name { width: 75px; }
input.color { width: 100px; }
select#filtered_users { height: 90px; }
div#custom_user_filters_settings p button { float: right; width: 75px; }

div#content { justify-items: start; margin: 0em 1em 0.5em 1em; }
div#lol_tag_countbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
div#lol_tag_countbox > label {
    padding-right: 3em;
}
div#lol_tags {
    display: grid;
    justify-items: center;
    align-items: center;
}
div#lol_tags > div > * {
    margin: 0.25em 1em 0.25em 1em;
}
div#ugh_field {
    display: flex;
    align-items: center;
    justify-content: center;
}
div#ugh_field > label {
    padding-right: 3em;
}

div#expiration_watcher_settings > * { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0;
}
div#expiration_watcher_settings > ul > span {
    font-size: 14px;
    align-self: center;
    justify-self: center;
}
div#expiration_watcher_settings > ul {
    list-style: none;
}
div#expiration_watcher_settings > li {
    display: inline-block;
}

div#post_preview_settings > * { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0;
}
div#post_preview_settings > ul > span {
    align-self: center;
    justify-self: center;
}
div#post_preview_settings > ul {
    list-style: none;
}
div#post_preview_settings > li {
    display: inline-block;
}
div#live_preview_checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#buttons { position: fixed; bottom: 0px; left: 0px; width: 175px; padding: 10px; }
div#buttons button { width: 83px; }
span#status { 
    color: white;
    font-size: 12px;
    background: rgba(107, 144, 218, 0.75);
    font-weight: bold;
}

h2.group { font-size: 18pt; margin-top: 25px; background: #3264C8; color: white; border: none; padding-top: 5px; 
   padding-bottom: 5px; text-align: center; }
div.group_header { font-size: 12pt; font-weight: bold; color: white; margin-top: 15px; }

div#video_loader_settings, div#highlight_users_settings { margin-left: 25px; }

p.info { font-style: italic; color: #808080; }
p.indent { margin-left: 25px; }