:root {
    --chatty-news-font: "Shack Sans", sans-serif;
    --chatty-bg: #111;
    --chatty-news-bg: #222;
    --chatty-news-alt: #656565;
    --chatty-news-fg: #ddd;
    --chatty-news-link-fg: #5e98a5;
    --chatty-news-link-bg: #fff;
}

@media only screen and (max-width: 1190px) {
    .chatty__news__enabled #chattynews__aligner {
        display: grid;
        grid-template-areas:
            "news"
            "links"
            "footer";
    }
    .chatty__news__enabled .chatty-news,
    .chatty__news__enabled #chattynews__aligner #links__aligner,
    .chatty__news__enabled #chattynews__aligner > p:first-child {
        /* put the article content children in a centered column */
        margin-left: auto;
        margin-right: auto;
    }
    .chatty__news__enabled .chatty-news {
        /* ChattyNews box */
        grid-area: news;
    }
    .chatty__news__enabled #chattynews__aligner #links__aligner {
        /* article links */
        grid-area: links;
    }
    .chatty__news__enabled #chattynews__aligner > p:first-child {
        /* footer */
        grid-area: footer;
    }
}

/* use a responsive Twitch player up to a sane width */
.chatty__news__enabled > p:nth-child(2) {
    position: relative !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-bottom: 56.25% !important;
    overflow: hidden !important;
    /* width pulled from 'media.css' */
    max-width: var(--max-media-item-width);
}
.chatty__news__enabled > p:nth-child(2) > iframe {
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#chattynews__aligner {
    display: grid;
    grid-template-areas:
        "left ... right"
        "footer footer footer";
}

/* align existing article elements */
#chattynews__aligner > p {
    grid-area: left;
}
#chattynews__aligner > p:first-child {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr.chatty-news-sep {
    border: 0;
    height: 1px;
    background: var(--chatty-news-alt);
}
.chatty-news {
    grid-area: right;
    display: inline-block;
    font-size: 16px;
    font-family: var(--chatty-news-font);
    background-color: var(--chatty-news-bg);
    box-shadow: 0 0.125em 0.5em 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin: 0.33em 0.33em 0.33em 0.5em;
    padding: 0;
    width: 95%;
    min-width: 175px;
    max-width: 425px;
}
.chatty-news h2 {
    font-size: 18px;
    text-align: center;
    color: white;
    margin: 0.25em 0.5em 0 0.5em;
    padding: 0;
}
.chatty-news ul {
    list-style-type: none;
    padding: 0;
    margin: -0.5em 0.5em 0.33em 0.25em;
}
.chatty-news li {
    line-height: 1.85rem;
}
.chatty-news a {
    text-decoration: none;
    color: var(--chatty-news-link-bg);
}
.chatty-news a:hover {
    text-decoration: none;
    color: var(--chatty-news-link-fg);
    font-weight: 500;
}
.chatty-news a::before {
    padding: 0 0.5em 0 0.25em;
    content: "» ";
    color: var(--chatty-news-alt);
}

.truncated {
    display: flex;
}
.truncated span {
    /* use a span for the child to enable truncation */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
