/* Dino Gegtik */

div.dinogegtik a {
  display: block;
  color: #e00 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.dinogegtik {
  display: block;
  width: 735px;
  height: 487px;
  margin: 10px 0;
  font-family:
    Lucida Console,
    Courier New;
  font-size: 13px;
  text-align: center;
  line-height: 1em;
  background-color: #333;
  color: #000;
  position: relative;
}

div.dinogegtik div.panel {
  position: absolute;
  display: block;
  overflow: hidden;
  overflow-wrap: break-word;
  line-height: 1em;
}

/* sparkly comic */
div.sparklycomic {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  float: left;
}

div.sparklycomic div.panel {
  float: left;
  display: block;
  width: 240px;
  height: 351px;
  margin: 2px;
  /* vertical-align: bottom; */
  overflow: hidden;
  line-height: 1em;
  position: relative;
}

div.sparklycomic div.panel a {
  color: #e00 !important;
}

div.sparklycomic div.panel span {
  position: absolute;
  color: #fff;
  left: 0;
  right: 2px;
  bottom: 2px;
}

div.sparklycomic div.panel span {
  color: #fff;
  left: 2px;
  right: 0;
  bottom: 0;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

div.sparklycomic div.panel span a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.sparklycomic div.panel span .jt_spoiler {
  visibility: hidden;
}
