/* common vars are in media.css */
:root {
    /* specific to twitter styling */
    --twttr-bg-color: #15202b;
    --twttr-bg-color2: #202224;
    --twttr-fg-color: #ffffff;
    --twttr-fg-link-color1: rgb(27, 149, 224);
    --twttr-fg-link-color2: #d9d9d9;
    --twttr-bg-link-color: rgb(110, 118, 125);
    --twttr-fg-border-color: #38444d;
    --twttr-bg-border-color: #6b7d8c;
    --twttr-max-width: 500px;

    --instgrm-fg-color1: rgba(30, 30, 30, 0.9);
    --instgrm-fg-color2: rgba(30, 30, 30, 0.66);
    --instgrm-bg-color: white;
    --instgrm-link-color1: rgba(30, 30, 30, 0.33);
    --instgrm-link-color2: rgb(0, 53, 105);

    --min-social-item-height: 300px;
    --max-social-item-height: 720px;
    --max-social-item-width: 640px;
}

/* custom twitter container */
.twitter__container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--twttr-bg-border-color);
    border-radius: 4px;
    padding: 12px;
    margin: 0;
    font-size: 16px;
    font-family: var(--common-sans);
    background: var(--twttr-bg-color2);
    color: var(--twttr-fg-color);
    max-width: var(--twttr-max-width);
}
.twitter__container.hidden,
.twitter__container .hidden {
    display: none !important;
}
.twitter__container svg {
    vertical-align: text-bottom !important;
}
.twitter__container a,
.twitter__text__content > span > a,
.twitter__quote__text__content > span > a {
    text-decoration: none !important;
    color: var(--twttr-fg-link-color1) !important;
}
a#twitter__displayname,
a#twitter__quote_displayname {
    color: var(--twttr-fg-link-color2) !important;
}
.twitter__container a:hover,
a#twitter__displayname:hover,
a#twitter__quote_displayname:hover {
    text-decoration: underline !important;
}
.twitter__quote__content {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--twttr-bg-border-color);
    border-radius: 4px;
    padding: 10px 10px 0 10px;
    margin: 0;
}
.twitter__quote__content > .twitter__header {
    margin-bottom: 1.5em;
}

.twitter__header {
    display: flex;
    flex-direction: row;
}
.twitter__user__name {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    padding-right: 1em;
}
.twitter__403 > span {
    color: #8899a6 !important;
}
.twitter__realname,
.twitter__quote__realname {
    color: var(--twttr-bg-link-color);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.twitter__quote__realname {
    margin-left: 0.5em;
}
.user__profile__pic {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 10px;
    padding: 0;
    margin: 0.25em;
}
.twitter__displayname,
.twitter__quote__displayname {
    font-weight: bold;
    color: var(--twttr-fg-color) !important;
}
.twitter__quote__displayname {
    margin-right: 1.5em;
}

#twitter__verified {
    position: relative;
    top: -2px;
    left: 3px;
}
.twitter__badge {
    display: flex;
    margin-left: auto;
}

.twitter__text__content,
.twitter__quote__text__content {
    cursor: text;
    white-space: pre-line;
    word-wrap: break-word;
    line-height: 20px;
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 16px;
}
.twitter__quote__text__content {
    font-size: 14px !important;
    margin-top: -1em;
}
.twitter__embed__link {
    color: var(--bg-link-color);
}

.twitter__media__content img,
.twitter__media__content video,
.twitter__quote__media__content img,
.twitter__quote__media__content video {
    border: 1px solid var(--twttr-fg-border-color);
    border-radius: 8px;
    width: 100% !important;
    height: auto !important;
    min-height: var(--min-social-item-height);
    max-height: var(--max-social-item-height);
    min-width: var(--min-media-item-width);
    max-width: var(--max-social-item-width);
    outline: none !important;
    margin: 0;
    padding: 0;
    object-fit: contain !important;
}

.twitter__timestamp {
    color: var(--twttr-bg-link-color);
    padding-top: 0.5em;
    font-size: 14px;
}

/* custom instagram container */
.instagram__container {
    display: flex;
    flex-direction: column;
    background: var(--instgrm-bg-color);
    border: 1px solid black;
    border-radius: 4px;
    padding: 0 0 0.5em 0;
    margin: 0;
    font-size: 14px;
    font-family: var(--common-sans);
    max-width: var(--max-social-item-width);
}
.instagram__container.hidden,
.instagram__container .hidden {
    display: none !important;
}
.instagram__container span {
    color: var(--instgrm-fg-color1);
}
.instagram__container a:link,
.instagram__container a:hover,
.instagram__container a:visited,
.instagram__container a:active {
    text-decoration: none !important;
}

.instagram__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 36px;
    margin: 0.5em 0 0.5em 0;
}
.instagram__author__pic.circle {
    width: 38px;
    height: 38px;
    border-radius: 50px;
    padding: 10px;
}
.instagram__author__nick {
    font-weight: 500;
}

.instagram__postpic__line {
    display: flex;
    flex-direction: column;
}

.instagram__postpic__details {
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram__likes__icon,
.instagram__comments__icon {
    color: rgba(60, 60, 60, 0.25);
    margin-right: 3px;
    height: 12px;
    width: 12px;
}
span.instagram__post__details {
    font-size: 13px;
    color: var(--instgrm-fg-color2);
    margin-right: 7px;
}

.instagram__container .instagram__logo {
    display: flex;
    margin-left: auto;
    flex-shrink: 0;
}
.instagram__logo svg {
    margin: 15px;
}

.instagram__caption {
    flex: 0 0 auto;
    padding: 10px;
}
.instagram__caption a:link,
.instagram__caption a:active,
.instagram__caption a:hover,
.instagram__caption a:visited,
.instagram__caption a {
    color: var(--instgrm-link-color2) !important;
    overflow-wrap: break-word;
}
.instagram__post__caption {
    display: inline-block;
    flex-flow: row wrap;
    align-self: center;
    align-items: center;
    min-width: var(--min-media-item-width);
    color: var(--instgrm-fg-color2);
    white-space: pre-line;
}

.instagram__embed {
    margin: 0 1px;
}
.instagram__embed img,
.instagram__embed video {
    display: block;
    outline: none;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.instagram__footer {
    flex: 0;
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin: auto 5px 0 5px;
    border-top: 1px solid lightgray;
    font-size: 13px;
    font-weight: 400;
    color: var(--instgrm-fg-color1);
    width: 100%;
}
.instagram__footer span:first-child {
    flex: 0 0 auto;
}
.instagram__footer span {
    line-height: 17px;
    padding: 3px 0.1em 0 0.2em;
}
.instagram__footer a > span {
    display: flex;
    align-self: center;
}
.instagram__post__timestamp {
    min-width: 0 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.instagram__footer a:link,
.instagram__footer a:active,
.instagram__footer a:hover,
.instagram__footer a:visited {
    flex: 0 0 auto;
    text-decoration: underline !important;
    color: var(--instgrm-fg-color1) !important;
}
