:root {
    --arrow-outline: rgba(60, 60, 60, 0.6);
}

.embla__viewport {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
}
.embla__viewport.is-dragging {
    cursor: grabbing;
}

.embla__container {
    position: relative;
    display: flex;
    user-select: none;
}

.embla__slide {
    min-width: 100%;
}
.embla__slide__inner {
    overflow: hidden;
}
.embla__slide__inner img,
.embla__slide__inner video {
    width: 100%;
    object-fit: contain;
    max-width: var(--max-media-item-width) !important;
    max-height: var(--max-media-item-height) !important;
}

.embla {
    position: relative;
    /* respond to slide height changes */
    transition: height 0.05s;
}
.embla__button {
    position: absolute;
    height: 100%;
    width: 7%;
    background-color: transparent;
    touch-action: manipulation;
    cursor: pointer;
    top: 50%;
    outline: 0;
    border: 0;
    padding: 0;
    z-index: 1;
    transform: translateY(-50%);
    transition: 0.2s;
    opacity: 0.5;
}
.embla__button:hover {
    filter: drop-shadow(1px 2px 1px var(--arrow-outline)) drop-shadow(-1px 1px 1px var(--arrow-outline))
        drop-shadow(2px -1px 1px var(--arrow-outline)) drop-shadow(-1px -1px 1px var(--arrow-outline));
    opacity: 1;
}
.embla__button:disabled {
    cursor: default;
    opacity: 0.25;
}
.embla__button--prev {
    margin-left: auto;
    margin-right: auto;
    left: -2px;
}
.embla__button--next {
    margin-left: auto;
    margin-right: auto;
    right: -2px;
}
.embla__button__svg {
    height: 24px !important;
    width: 24px !important;
    color: rgba(27, 202, 205, 0.8);
}
