:root {
  --hpnp__fg-color: white;
  --hpnp__bg-color: rgb(144, 138, 157);
  --hpnp__bg-hover-color: rgb(92, 80, 112);
  --hpnp__border-color: rgb(85, 85, 85);
  --hpnp__fg-hover-color: rgb(111, 96, 136);
  --hpnp__active-color: rgb(60, 60, 60);
  --hpnp__font-family: "Shack Sans", sans-serif;
}

/* pending post highlighter */
.logo.alt.hpnp__enabled {
  margin-right: 0 !important;
}
.hpnp__enabled > a {
  display: flex !important;
}
#hpnp__app__container {
  position: relative;
  display: inline-flex;
  z-index: 9999;
  padding: 0;
  margin: 0;
}

/* wide mode (fat header + no threadpane) */
#hpnp__app__container.header-shown:not(.narrow) {
  max-height: 29px;
  top: 0.35rem;
  left: 0.75rem;
}
#hpnp__app__container.header-shown:not(.narrow) #statustext {
  font-size: 25px;
}
/* wide mode (slim header) */
#hpnp__app__container.header-shown.scrolled {
  max-height: 22px;
  top: -0.25rem;
  left: -3.5rem;
}
/* narrow mode (slim header) */
#hpnp__app__container.narrow.header-shown {
  max-height: 22px;
  top: 0.33rem;
  left: 0.75rem;
}
#hpnp__container:hover {
  opacity: 1 !important;
}
/* narrow mode (no header) */
#hpnp__app__container.narrow.scrolled #hpnp__container,
#hpnp__app__container.narrow:not(.header-shown) #hpnp__container {
  position: absolute;
  top: 30px;
  left: -200px;
  opacity: 0.33;
  transition: opacity 0.2s ease;
}
/* narrow & scrolled (no header) */
#hpnp__app__container.narrow.scrolled:not(.header-shown) {
  left: 2rem;
  top: 0.2rem;
}

#hpnp__container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--hpnp__fg-color) !important;
  background-color: var(--hpnp__bg-color) !important;
  border-color: var(--hpnp__border-color) !important;
  user-select: none;
  cursor: pointer;
}

#hpnp__container #statustext {
  position: relative;
  padding: 0 0.25em;
  margin-top: 2px;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--hpnp__font-family);
}
#hpnp__container #statustext:not(.threaded) {
  /*  */
  padding: 0 6px 0 4px !important;
}
#hpnp__container #prev__btn,
#hpnp__container #next__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  outline: none;
  background-color: transparent;
  margin: 0 !important;
  padding: 0 !important;
}
#prev__btn:active > svg,
#next__btn:active > svg,
#hpnp__container #statustext:active {
  color: var(--hpnp__active-color) !important;
}

#hpnp__container #prev__btn {
  margin: 0 4px 0 3px !important;
}
#hpnp__container #next__btn {
  margin: 0 3px 0 4px !important;
}
#hpnp__container #next__btn:hover,
#hpnp__container #prev__btn:hover {
  background-color: var(--hpnp__bg-hover-color) !important;
  border-color: var(--hpnp__fg-hover-color) !important;
}
svg.hpnp__prev__icon,
svg.hpnp__next__icon {
  height: 16px !important;
  width: 6px !important;
  color: white;
}

a.refresh_pending {
  /* override post refresh button */
  background: skyblue;
  border-radius: 10px;
  width: 14px !important;
  height: 15px !important;
}
