/* basic rules for styling media/socials children */
:root {
    --min-media-item-height: 200px;
    --max-media-item-height: 720px;
    --min-media-item-width: 300px;
    --max-media-item-width: 854px;
    --min-media-row-size: 200px;
    --max-media-row-size: 640px;
    --common-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* General Media Embedder */
div#react-media-manager {
    display: none !important;
}
div.media.hidden,
div.media .hidden {
    display: none;
}
div.medialink {
    display: inline-block;
}
div.medialink.toggled {
    /* reposition when expanded to avoid mangling formatting */
    display: block !important;
}

div.media > img,
div.media > video {
    outline: none;
    /* only enforce a max height */
    object-fit: scale-down;
    max-height: var(--max-media-item-height);
}
div.media .canToggleClick {
    cursor: pointer;
}
div.expando {
    display: inline-block;
    margin: 0 2px 0 4px;
}
.iframe-container,
.twitch-container,
.yt-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
    max-width: var(--max-media-item-width);
}
.iframe-container iframe,
.twitch-container iframe,
.yt-container iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* enforce 854 x 480px max-width */
    max-height: 480px !important;
}
/* End Media Embedder */

/* Chattypost Embedder */
div.getPost {
    width: 97%;
    border: 1px #2f8484 solid;
    background-color: #1d1d1d;
}
div.getPost div.refresh,
div.getPost div.reply,
div.getPost div.postmeta a.closepost {
    display: none;
}
div.getPost > div.fullpost {
    border: unset !important;
}
div.getPost div.postbody {
    margin: 0.25em 0.25em 1em 1.5em;
}
div.getPost span.user a {
    text-decoration: none;
}
/* End Chattypost Embedder */
