/* basic rules for styling media/socials children */
:root {
    --min-media-item-height: 200px;
    --max-media-item-height: 720px;
    --min-media-item-width: 300px;
    --max-media-item-width: 854px;
    --min-media-row-size: 200px;
    --max-media-row-size: 640px;
    --common-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* General Media Embedder */
div#react-media-manager {
    display: none !important;
}
div.media {
    /* enforce block for everything but image/video */
    display: block !important;
}
div.media.hidden,
div.media .hidden {
    display: none;
}
div.medialink {
    display: inline-block;
}
div.medialink.toggled {
    /* reposition when expanded to avoid mangling formatting */
    display: block !important;
}
div.medialink > .expandalt {
    display: inline-block;
    margin: 0 0.25em 0 0.2em;
}

.media__boundary {
    position: relative;
}
div.media > .media__boundary > img,
div.media > .media__boundary > video {
    object-fit: scale-down;
    outline: none;
    /* only enforce a max height */
    max-height: var(--max-media-item-height);
    /* prevent larger-than-post width */
    max-width: 100%;
}
div.media.canToggle {
    /* workaround for image/video container stretching issue */
    display: table !important;
}
div.media .canToggle,
div.media.canToggle,
div.medialink > .expandalt {
    cursor: pointer;
}
div.expando {
    display: inline-block;
    margin: 0 0.33em;
}
.iframe__boundary {
    /* enforce maximum iframe dimensions */
    max-width: 854px !important;
    max-height: 480px !important;
}
/* allow only for scaling down the iframe player */
.iframe-container,
.twitch-container,
.yt-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.iframe-container iframe,
.twitch-container iframe,
.yt-container iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mute__overlay__container {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    opacity: 0.3;
    transition: 0.2s;
    cursor: pointer;
}
.mute__overlay__container:hover {
    opacity: 1;
}
svg.unmute__icon,
svg.mute__icon {
    color: white;
    height: 26px !important;
    width: 26px !important;
    filter: drop-shadow(1px 2px 1px var(--arrow-outline)) drop-shadow(-1px 1px 1px var(--arrow-outline))
        drop-shadow(2px -1px 1px var(--arrow-outline)) drop-shadow(-1px -1px 1px var(--arrow-outline));
}
/* End Media Embedder */

/* Chattypost Embedder */
div.getPost {
    position: relative;
    width: 97%;
    border: 1px #2f8484 solid;
    background-color: #1d1d1d;
}
div.getPost div.refresh,
div.getPost div.reply,
div.getPost div.postmeta a.closepost {
    display: none;
}
div.getPost > div.fullpost {
    border: unset !important;
}
div.getPost div.postbody {
    margin: 0.25em 0.25em 1em 1.5em;
    padding: 0 0 1em 0;
}
div.getPost span.user a {
    text-decoration: none;
}
/* End Chattypost Embedder */
