:root {
    --font-family: arial, helvetica, clean, sans-serif;
    --font-size: 13px;
    scrollbar-width: thin;
}
body {
    min-width: 500px;
    max-width: 500px;
    min-height: 400px;
    max-height: 400px;
    padding: 0;
    margin: 0.5em 0.33em 0.25em -0.15em;
    font-family: var(--font-family);
    font-size: var(--font-size);
    overflow-x: hidden;
}
h2 {
    width: 100%;
    background-color: #f0f7f9;
    font-size: 14pt;
    padding: 2px;
}
a.remove {
    font-size: 12px;
}
input.name {
    width: 50px;
}
input.color {
    width: 50px;
}
textarea {
    width: 250;
}
div#content {
    justify-items: start;
    margin: 0.25em 1em 0.5em 1em;
}
div[id$="_settings"].hidden {
    display: none !important;
}
div.suboption {
    display: flex;
    align-items: center;
    margin: -5px 0 0.65em -3px;
}
div.suboption.indent {
    margin: 0 0 0.75em 1.6em;
}

/* highlight users styling */
#highlight_users_settings {
    display: flex;
    flex-direction: column;
    max-width: 97%;
    margin: 0 auto 0 auto;
}
#add_highlight_group {
    width: 100%;
}
.highlight_group {
    display: flex;
    flex-direction: column;
}
.group_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.25em;
}
.group_label {
    display: flex;
    padding: 3px;
    width: 100%;
}
input[type="text"]:read-only {
    outline: none;
}
.group_select {
    display: flex;
}
.group_select select {
    width: 100%;
    height: 125px;
    padding: 6px;
    margin: 0 1px;
}
.group_option_input {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.25em 0 0.25em 0;
}
.group_option_textinput {
    width: 100%;
}

.group_css {
    display: flex;
    max-width: 98%;
}
.group_css textarea {
    flex: 1 auto;
    width: 100%;
    min-height: 45px;
    min-width: 300px;
    max-width: 350px;
    max-height: 750px;
    padding: 4px;
    margin: 0 0.15em 0.5em 0;
}
/* styling for CSS test splotch */
.test_css {
    display: flex;
    background-color: #121212 !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0 2px;
    max-height: 36px;
    width: 36px;
}
.test_css span {
    font-family: var(--font-family);
    font-size: 26px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* custom user filter styling */
div#custom_user_filters_settings {
    display: flex;
    flex-direction: column;
    width: 99%;
    margin: 0 0.33em 0 0.33em;
}
select.custom_user_filter_options {
    width: 100%;
    height: 125px;
    padding: 6px;
}
.custom_user_filter_inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.25em 0 0.25em;
}
.custom_user_filter_inputs input {
    width: 100%;
}

div#image_loader_settings,
div#video_loader_settings {
    margin-left: 25px;
}

p.info {
    font-style: italic;
    color: #808080;
}
p.indent {
    margin-left: 25px;
}

.import_export_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 125px;
    margin: 0.25em 0.1em;
}
textarea#import_export_field {
    flex: 1 auto;
    word-break: break-all;
    resize: none;
}
