/* override logged-out author span */
span.author > span.user {
    cursor: pointer;
}

/* shack userpopup */
.userDropdown {
    position: absolute !important;
    top: 16px;
    left: 0;
    width: auto !important;
    background: #222 !important;
    border: 1px solid #333;
    box-shadow: 3px 3px 4px #000;
    z-index: 999;
    text-align: left;
    font-weight: normal;
    padding: 0 !important;
}
.userDropdown .dropdown__item {
    overflow: hidden;
    background: #222 !important;
    margin: 0 !important;
    padding: 0 !important;
    background-image: none !important;
    display: block !important;
    width: 100% !important;
    line-height: 2em;
    border-bottom: 1px solid #333;
}
.userDropdown .dropdown__item:last-child {
    border-bottom: unset !important;
}
.userDropdown .dropdown__separator {
    border-bottom: 1px solid #666 !important;
}
.userDropdown .dropdown__item > span {
    display: block;
    width: 100% !important;
    white-space: nowrap;
    padding: 3px 12px !important;
    margin: 0 !important;
    color: #ddd !important;
    font-weight: normal !important;
    font-size: 12px !important;
    border: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    text-align: left !important;
}
.userDropdown .dropdown__item > span:hover {
    color: #fff;
    background-color: #524a60 !important;
}
