
/* Dino Gegtik */

div.dinogegtik a {
    color: #e00 !important;
}

div.dinogegtik {
    display: block;
    width: 735px;
    height: 487px;
    margin: 10px 0;
    font-family: Lucida Console, Courier New;
    font-size: 13px;
    text-align: center;
    line-height: 1em;
    background-color: #333;
    color: #000;
    position: relative;
}

div.dinogegtik div.panel {
    position: absolute;
    display: block;
    overflow: hidden;
    line-height: 1em;
}

/* sparkly comic */

div.sparklycomic {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1em;
    color: #fff;
    float: left;
}

div.sparklycomic div.panel {
    float: left;
    display: block;
    width: 240px;
    height: 351px;
    margin: 2px;
    /* vertical-align: bottom; */
    overflow: hidden;
    line-height: 1em;
    position: relative;
}

div.sparklycomic div.panel a {
    color: #e00 !important;
}

div.sparklycomic div.panel span {
    position: absolute;
    color: #fff;
    left: 0;
    right: 2px;
    bottom: 2px;
}

div.sparklycomic div.panel span.shadow {
    color: #000;
    left: 2px;
    right: 0;
    bottom: 0;
}

div.sparklycomic div.panel span.shadow .jt_spoiler,
div.sparklycomic div.panel span.shadow a {
    visibility: hidden
}

