/* common vars are in media.css */
:root {
    /* specific to twitter styling */
    --twttr-bg-color: #15202b;
    --twttr-bg-color2: #202224;
    --twttr-fg-color: #ffffff;
    --twttr-fg-link-color: #1d9ceb;
    --twttr-bg-link-color: #8899a6;
    --twttr-fg-border-color: #38444d;
    --twttr-bg-border-color: #6b7d8c;
    --twttr-max-width: 500px;

    --min-social-item-height: 300px;
    --max-social-item-height: 720px;
    --max-social-item-width: 640px;
}

/* custom twitter container */
.twitter-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--twttr-bg-border-color);
    border-radius: 4px;
    padding: 12px;
    margin: 0;
    font-size: 16px;
    font-family: var(--common-sans);
    /* background: var(--twttr-bg-color); */
    background: var(--twttr-bg-color2);
    color: var(--twttr-fg-color);
    max-width: var(--twttr-max-width);
}
.twitter-container.hidden {
    display: none !important;
}
.twitter-container svg {
    vertical-align: text-bottom !important;
}
.twitter-container a {
    text-decoration: none !important;
    color: var(--twttr-bg-link-color) !important;
}
.twitter-container a:hover,
a:hover#twitter-displayname,
a:hover#twitter-quote-displayname {
    color: var(--twttr-fg-link-color) !important;
}
.twitter-header {
    display: flex;
    flex-direction: row;
}
.twitter-user-name {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    padding-right: 1em;
}
#twitter-realname,
#twitter-quote-realname {
    color: var(--twttr-bg-link-color);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#user-profile-pic {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 10px;
    padding: 0;
    margin: 0.25em;
}
#twitter-displayname,
#twitter-quote-displayname {
    font-weight: bold;
    color: var(--twttr-fg-color) !important;
}

#twtter-verified.hidden {
    display: none !important;
}
#twitter-badge {
    display: flex;
    margin-left: auto;
}

#twitter-text-content,
#twitter-quote-text-content {
    cursor: text;
    white-space: pre-line;
    word-wrap: break-word;
    line-height: 20px;
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 16px;
}
#twitter-quote-text-content {
    font-size: 14px !important;
    margin-top: -1em;
}
.twitter-embed-link {
    color: var(--bg-link-color);
}

#twitter-media-content img,
#twitter-media-content video,
#twitter-quote-media-content img,
#twitter-quote-media-content video {
    border: 1px solid var(--twttr-fg-border-color);
    border-radius: 8px;
    width: 100% !important;
    height: auto !important;
    min-height: var(--min-social-item-height);
    max-height: var(--max-social-item-height);
    min-width: var(--min-media-item-width);
    max-width: var(--max-social-item-width);
    outline: none !important;
    margin: 0;
    padding: 0;
    object-fit: contain !important;
}
#twitter-quote-media-content.hidden {
    display: none !important;
}

#twitter-quote-content {
    border: 1px solid var(--twttr-bg-border-color);
    border-radius: 4px;
    padding: 10px 10px 0 10px;
    margin: 0;
}
#twitter-quote-content.hidden {
    display: none !important;
}

#twitter-timestamp {
    color: var(--twttr-bg-link-color);
    padding-top: 0.5em;
    font-size: 14px;
}

/* custom instagram container */
.instgrm-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0 0 0.5em 0;
    margin: 0;
    font-size: 14px;
    font-family: var(--common-sans);
    color: #262626;
    max-width: var(--max-social-item-width);
}
.instgrm-container.hidden {
    display: none !important;
}
.instgrm-container span {
    color: #262626;
}
.instgrm-container a:link,
.instgrm-container a:hover,
.instgrm-container a:visited,
.instgrm-container a:active {
    text-decoration: none !important;
}

.instgrm-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 36px;
    margin: 0.5em 0 0.5em 0;
}
#instgrm_author_pic.circle {
    width: 38px;
    height: 38px;
    border-radius: 50px;
    padding: 10px;
}
#instgrm_author_nick {
    font-weight: 500;
}

.instgrm-postpic-line {
    display: flex;
    flex-direction: column;
}
#instgrm_post_details {
    font-size: 12px;
    color: #999;
}

.instgrm-container .instgrm-logo {
    display: flex;
    margin-left: auto;
    flex-shrink: 0;
}
.instgrm-logo svg {
    margin: 15px;
}

#instgrm_embed img:not(.swiper-slide),
#instgrm_embed video:not(.swiper-slide) {
    outline: 0 !important;
    object-fit: contain !important;
    width: 100% !important;
    height: auto !important;
    min-height: var(--min-social-item-height);
    max-height: var(--max-social-item-height);
    min-width: var(--min-media-item-width);
    max-width: var(--max-social-item-width);
}
#instgrm_embed img.swiper-slide,
#instgrm_embed video.swiper-slide {
    /* let carousel style itself but maintain ratio */
    object-fit: contain !important;
    max-width: var(--max-social-item-width);
    max-height: var(--max-social-item-height);
}

#instgrm-caption {
    flex: 0 0 auto;
    padding: 10px;
}
#instgrm_post_caption {
    display: inline-block;
    flex-flow: row wrap;
    align-self: center;
    align-items: center;
    min-width: var(--min-media-item-width);
}
#instgrm_post_caption span {
    margin: 0 0.1em 0 0.1em;
    padding: 0;
    white-space: pre-line;
}
#instgrm_post_caption a:link,
#instgrm_post_caption a:active,
#instgrm_post_caption a:hover,
#instgrm_post_caption a:visited,
#instgrm_post_caption a > span {
    margin: 0 0.1em 0 0.1em;
    padding: 0;
    color: #003569 !important;
    overflow-wrap: break-word;
}

.instgrm-footer {
    flex: 0;
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin: auto 5px 0 5px;
    border-top: 1px solid lightgray;
    font-size: 13px;
    font-weight: 400;
    color: #262626;
    width: 100%;
}
.instgrm-footer span:first-child {
    flex: 0 0 auto;
}
.instgrm-footer span {
    line-height: 17px;
    padding: 3px 0.1em 0 0.2em;
}
.instgrm-footer a > span {
    display: flex;
    align-self: center;
}
#instgrm_post_timestamp {
    min-width: 0 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.instgrm-footer a:link,
.instgrm-footer a:active,
.instgrm-footer a:hover,
.instgrm-footer a:visited {
    flex: 0 0 auto;
    text-decoration: underline !important;
    color: #262626 !important;
}
