
/* social embedding styling containers */
.tweet-container {
    display: block;
    min-height: 1;
    min-width: 1;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
.tweet-container.hidden { display: none !important; }

/* custom instagram container */
.instgrm-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    min-height: 325px;
    max-height: 800px;
    min-width: 325px;
    max-width: 600px;
    padding: 0 0 0.5em 0;
    margin: 0;
    font-size: 14px;
    font-family: "Segoe UI", "Helvetica", sans-serif;
    color: #262626;
}
.instgrm-container.hidden { display: none !important; }
.instgrm-container span { color: #262626; }
.instgrm-container a:link,
.instgrm-container a:hover,
.instgrm-container a:visited,
.instgrm-container a:active {
    text-decoration: none !important;
}

.instgrm-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 48px;
    margin: 0.5em 0 0.5em 0;
}
#instgrm_author_pic.circle {
    width: 38px;
    height: 38px;
    border-radius:50px;
    padding: 10px;
}
#instgrm_author_nick {
    font-weight: 500;
}

.instgrm-postpic-line {
    display: flex;
    flex-direction: column;
}
#instgrm_post_details {
    font-size: 12px;
    color: #999;
}

.instgrm-container .instgrm-logo {
    display: flex;
    margin-left: auto;
    flex-shrink: 0;
}
.instgrm-logo svg { margin: 15px; }

#instgrm_embed {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    padding: 0;
}
#instgrm_embed video,
#instgrm_embed img {
    width: 100% !important;
    height: auto !important;
    object-fit: contain;
}
#instgrm_embed video {
    object-fit: cover !important;
}

#instgrm_post_caption {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    min-height: 36px;
    padding: 5px;
    margin: 0 0.5em;
}
#instgrm_post_caption span {
    margin: 0 0.1em 0 0.1em;
    padding: 0;
}
#instgrm_post_caption a:link,
#instgrm_post_caption a:active,
#instgrm_post_caption a:hover,
#instgrm_post_caption a:visited,
#instgrm_post_caption a > span {
    margin: 0 0.1em 0 0.1em;
    padding: 0;
    color: #003569 !important;
    overflow-wrap: break-word;
}

.instgrm-container .hr2 {
    display: block;
    width: 100%;
    align-self: center;
    justify-content: center;
    border-top: 1px solid lightgray;
    margin: 0.25em 0 0.25em 0;
}

.instgrm-footer {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin: 0.2em 0 0.5em 0;
}
.instgrm-footer span:first-child {
    flex-shrink: 0;
    padding: 0 0.1em 0 0.2em;
}
.instgrm-footer span {
    line-height: 17px;
    padding: 0 0.1em 0 0.1em;
}
#instgrm_post_timestamp {
    min-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.instgrm-footer a:link,
.instgrm-footer a:active,
.instgrm-footer a:hover,
.instgrm-footer a:visited {
    flex: 0 0 auto;
    text-decoration: underline !important;
    color: #262626 !important;
}

