/* start of image uploader stuff */

/* formatting containers for image uploader */
.post_sub_container {
    /* postbox alignment container */
    display: grid;
    grid-template-areas: "c1 s1 c2 c2";
}
.uploadContainer {
    /* image uploader alignment container */
    grid-area: c2;
    display: flex;
    flex-direction: column;
    justify-self: right;
    min-width: 350px;
    max-width: 350px;
}
.uploadRadioLabels {
    /* container for clickable radio filters */
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr;
}
#uploadDropArea {
    /* main image uploader content container */
    border-style: dashed;
    border-color: #666;
    border-width: 2px;
    border-radius: 4px;
    max-width: 98%;
    min-width: 0;
    padding: 8px;
}
.uploadDropLabelArea {
    /* top field in content area */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    font-size: 14px;
    color: #7c7c7c;
    min-height: 62px;
}
#uploadDropArea .urlBox {
    /* url box and snippet filter */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}
#uploadDropArea .urlUploadSnippetControls {
    /* snippet controls */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 5px 0 5px;
}
.contextLine {
    /* buttons and file status */
    display: grid;
    grid-template-areas: "clc1 clc2";
    align-items: center;
    min-width: 1;
    width: 100%;
}
#errorLabels {
    /* error status footer */
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    min-width: 1;
    flex-basis: 98%;
}

/* only apply shacktags legend overrides when injected */
.post_sub_container #shacktags_legend {
    grid-area: c1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 165px;
}

.post_sub_container #shacktags_legend_toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    margin-bottom: 0.25em;
    padding-right: 30%;
}

.post_sub_container #shacktags_legend_table {
    margin-top: 0.33em !important;
}

.showImageUploadLink {
    /* image uploader toggle */
    display: flex;
    background: black;
    padding: 8px;
    justify-content: center;
}

/* styled radio filters */
.uploadRadioLabels label {
    display: flex !important;
    text-transform: none !important;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.75em 0.5em 0.75em !important;
    margin: 0 -1px 0 -1px;
    margin-bottom: 1px;
    border-style: solid none;
    border-width: 2px;
    border-color: #222;
    border-radius: 4px;
}
.uploadRadioLabels label:first-child{
    border-style: solid none solid solid;
}
.uploadRadioLabels label:last-child{
    border-style: solid solid solid none;
}
#uploadChatty,
#uploadGfycat,
#uploadImgur {
    display: none;
}
.uploadRadioLabels .gfycat,
.uploadRadioLabels .imgur,
.uploadRadioLabels .chatty {
    font-weight: bold;
}
#uploadGfycat:checked~.uploadRadioLabels .gfycat,
#uploadImgur:checked~.uploadRadioLabels .imgur,
#uploadChatty:checked~.uploadRadioLabels .chatty {
    color: #e9e9de !important;
    font-weight: bold;
    background: #333;
    border-radius: 4px;
}
/* end styled radio filters */

/* image uploader content area */
.dragOver {
    background-color: #222;
}

#fileChooserLink {
    padding-right: 0.25em;
}

#uploadFields.hidden,
#fileUploadInput {
    display: none !important;
}
.urlInputBox.hidden,
.contextLine.hidden {
    visibility: hidden;
}

/* url bar and gfycat snippet controls */
#uploadDropArea .urlBox #urlUploadInput {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
#uploadDropArea .urlBox .urlUploadSnippetCheckbox {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    position: relative;
    min-width: 25px;
    margin: 0 -6px 20px 10px;
}
#uploadDropArea .urlUploadSnippetControls div {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

#uploadDropArea .urlBox input[type="text"]#urlUploadInput {
    /* necessary to override stylesheet */
    border: 1px dashed #444 !important;
    color: #888 !important;
    box-shadow: none !important;
    background: transparent !important;
    border-radius: 0 !important;
    padding: 0.5em !important;
    margin: 0 0 0.5em 0em !important;
}
#uploadDropArea .urlBox input[type="text"]#urlUploadInput.valid {
    /* try to bring attention to valid url */
    border: 1px dashed #666 !important;
    color: #e9e9de !important;
}
input[type="checkbox"]#urlUploadSnippetBox {
    /* some initial resets */
    border: 1px dashed #444 !important;
    box-shadow: none !important;
    background: transparent !important;
    border-radius: 0 !important;
    text-transform: none !important;
}

#uploadDropArea .urlBox .urlUploadSnippetCheckbox.hidden {
    display: none !important;
}
#uploadDropArea .urlUploadSnippetControls.hidden {
    display: none !important;
}

#uploadDropArea .urlUploadSnippetControls input[type="text"]:focus {
    outline: 0;
}
#uploadDropArea .urlUploadSnippetControls input[type="text"] {
    border: 1px dashed #444 !important;
    color: #888 !important;
    box-shadow: none !important;
    background: transparent !important;
    border-radius: 0 !important;
    padding: 0.5em !important;
    margin: 0 5px 0.5em 5px !important;
    width: 65px !important;
}
#uploadDropArea .urlUploadSnippetControls .snippetControlsLabel {
    font-size: 13px;
    color: #888;
    padding: 0 5px 0.5em 5px;
}
.urlUploadSnippetControls div {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: right;
    padding: 0 5px 0 5px;
}

/* styled checkbox */
.urlUploadSnippetCheckbox {
    position: relative;
    padding: 0 0 6px 0;
    margin-left: 4px;
}
.urlUploadSnippetCheckbox input {
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 15px;
    height: 15px;
}
.urlUploadSnippetCheckbox .style-helper:before,
.urlUploadSnippetCheckbox .style-helper:after {
    position: absolute;
    content: "";
    transition: all 75ms;
}
.urlUploadSnippetCheckbox .style-helper:before {
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 1px;
    color: silver;
    border: 1px solid #666;
}
.urlUploadSnippetCheckbox .style-helper:after {
    content: '\2713';
    font-size: 13px;
    left: 1px;
    top: 0px;
    color: silver;
    transform: scale(0);
    opacity: 0;
}
.urlUploadSnippetCheckbox input:checked + .style-helper:before {
    border-color: #666;
}
.urlUploadSnippetCheckbox input:checked + .style-helper:before {
    background-color: transparent !important;
}
.urlUploadSnippetCheckbox input:checked + .style-helper:after {
    transform: scale(1);
    opacity: 1;
}

/* image uploader context line (buttons/file) */
#uploadButtons {
    grid-area: clc1;
}
#uploadButtons.hidden {
    display: none;
}
#urlUploadButton,
#cancelUploadButton {
    grid-area: clc1;
    background-color: #222;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #555 !important;
    color: #e9e9de !important;
    font-weight: bold;
    width: 100px;
    height: 28px;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}
#cancelUploadButton.small {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-style: normal !important;
    width: 17px !important;
    outline: 0;
}

#uploadStatusLabel {
    align-self: center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    color: #888;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#uploadStatusLabel.muted {
    color: #555;
}

/* upload error status labels */
#errorStatusLabel {
    font-weight: bold;
    word-wrap: break-word;
    color: #777;
    min-width: 1;
    flex: 0 0 auto;
}
#errorStatusLabelDetail {
    margin-left: 6px;
    text-align: left;
    font-style: italic;
    font-size: 12px;
    color: #666;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 1;
}
#errorLabels.hidden {
    display: none;
}
/* simple loading spinner */
.spinner {
     animation: loading 1s infinite;
}
@keyframes loading {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
/* end of image uploader stuff */

