
/* MEDIA QUERIES FOR RESPONSIVENESS (workaround for image weirdness) */
@media only screen and (max-width: 768px) {
    .media-container { flex-direction: column !important; }
    video.imageloader,
    img.imageloader {
        height: auto !important;
        min-width: 100% !important;
        margin: 0.5em 0 0.5em 0;
    }
}
/* END MEDIA QUERIES */

/* basic rules for styling image/video media children */
.media-container {
    display: flex !important;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-items: flex-start;
    margin: 0.75em 0 0 0;
}
video.imageloader,
img.imageloader {
    flex: 1 1 auto;
    object-fit: contain !important;
    user-select: none !important;
    outline: 0 !important;
    max-width: calc(33% - 6px);
    max-height: 640px !important;
    margin: 3px;
}
video.imageloader { max-width: calc(50% - 6px); }
.twitch-container.hidden,
.yt-container.hidden,
video.imageloader.hidden,
img.imageloader.hidden {
    display: none !important;
}
.yt-container,
.twitch-container {
    position: relative;
    /* 16:9 for 854x480 */
    padding-bottom: 56.21%;
    height: 0;
}
.yt-container iframe,
.twitch-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* expando toggle button (.expando -> .expando.collapso) */
.postbody a.embedded { color: rgb(61, 154, 154) !important; }
div.expando {
    display: inline-block !important;
    text-decoration: none !important;
    color: white !important;
    font-size: 12px;
    font-weight: 100;
    padding: 5px 4px 0 4px;
}
/* end expando */

