
/* MEDIA QUERIES FOR RESPONSIVENESS (workaround for image weirdness) */
@media only screen and (max-width: 768px) {
    /* switch to a scrollable column-only layout */
    .media-container { grid-template-columns: 100% !important; }
    .instgrm-container { max-width: unset !important; }
}
@media only screen and (min-width: 1267px) {
    .media-container {
        /* try to fit a max of 3 columns (should work okay for ~1920-2560px[w] screens) */
        grid-template-columns: repeat(auto-fit, minmax(auto, var(--min-media-col-size))) !important;
    }
    .instgrm-container { max-width: unset !important; }
}
/* END MEDIA QUERIES */

/* basic rules for styling media/socials children */
:root {
    --gutter-size: 6px;
    --min-media-col-size: calc(33% - var(--gutter-size));
    --max-media-col-size: calc(50% - var(--gutter-size));
    --max-social-item-height: 800px;
    --min-media-item-height: 200px;
    --max-media-item-height: 640px;
    --max-social-item-width: calc(50% - var(--gutter-size));
    --min-media-item-width: 300px;
    --max-media-item-width: 640px;
    --min-media-row-size: 200px;
    --max-media-row-size: 640px;
    --common-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.media-container {
    display: grid !important;
    /* default to a largest-first-or-50% layout */
    grid-template-columns: repeat(auto-fit, minmax(var(--max-media-col-size), 1fr));
    grid-template-rows: min-content 1fr;
    grid-auto-flow: row dense;
    grid-gap: var(--gutter-size);
    margin: 0.75em 0 0 0;
}
.medialoader video,
.medialoader img {
    outline: 0 !important;
    width: 100% !important;
    height: auto !important;
    box-sizing: border-box;
    object-fit: contain !important;
    max-height: var(--max-media-item-height);
    max-width: var(--max-media-item-width);
}
.iframe-container.hidden,
.twitch-container.hidden,
.yt-container.hidden,
.imageloader video.hidden,
.imageloader img.hidden {
    display: none !important;
}
.iframe-container,
.yt-container,
.twitch-container {
    position: relative;
    /* 16:9 for 854x480 */
    padding-bottom: 56.21%;
    height: 0;
}
.iframe-container iframe,
.yt-container iframe,
.twitch-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* expando toggle button (.expando -> .expando.collapso) */
.postbody a.embedded { color: rgb(61, 154, 154) !important; }
div.expando {
    display: inline-block !important;
    text-decoration: none !important;
    color: white !important;
    font-size: 13px;
    font-weight: 100;
    position: relative;
    margin-right: 6px;
    top: 2px;
    left: 5px;
}
/* end expando */

